$primary: var( --dll-primary-color, #FF5F1F );
$secondary: var( --dll-secondary-color, #E87EA1 );
$accent: var( --dll-accent-color, #2274A5 );
$tertiary: var( --dll-tertiary-color, #EEEBD0 );
$contrast: #02111B;
$white: #FFFFFF;
$transparent: rgba(0, 0, 0, 0);
