.disabled {
  pointer-events: none;
}

header#header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2;
  top: 0.9em;
  left: 0.9em;
}
header#header #header-wrap > *:not(:first-child) {
  margin-block-start: 0.9em;
}
header#header #header-wrap #logo-wrap {
  display: block;
}
header#header #header-wrap #logo-wrap #logo {
  object-fit: contain;
}
header#header #header-wrap #nav {
  font-size: 0.8em;
}
header#header #header-wrap #nav #nav-list {
  list-style-type: none;
}
header#header #header-wrap #nav #nav-list > .nav-item {
  position: relative;
}
header#header #header-wrap #nav #nav-list > .nav-item:not(:first-child) {
  margin-block-start: 0.9em;
}
header#header #header-wrap #nav #nav-list > .nav-item .dot {
  position: absolute;
  color: #E87EA1;
  opacity: 0;
  transition-property: opacity;
  transition: 0.2s;
  transition-timing-function: cubic-bezier(0.1, 0.4, 0.2, 1);
}
header#header #header-wrap #nav #nav-list > .nav-item.active {
  pointer-events: none;
  color: #43FFFF;
}
header#header #header-wrap #nav #nav-list > .nav-item.active .dot {
  color: #43FFFF;
  opacity: 1;
}
header#header #header-wrap #nav #nav-list > .nav-item.active .nav-link {
  opacity: 0;
}
header#header #header-wrap #nav #nav-list > .nav-item .nav-link {
  position: relative;
  color: #1F2933;
  font-weight: 700;
  transition-property: color;
  transition: 0.3s;
  transition-timing-function: cubic-bezier(0.1, 0.4, 0.2, 1);
  text-decoration: none;
}
header#header #header-wrap #nav #nav-list > .nav-item .nav-link:hover, header#header #header-wrap #nav #nav-list > .nav-item .nav-link:focus, header#header #header-wrap #nav #nav-list > .nav-item .nav-link:focus-within {
  color: #E87EA1;
}

footer {
  font-size: 0.5em;
  position: fixed;
  writing-mode: vertical-rl;
  bottom: 1.3em;
  right: 1.1em;
  color: #1F2933;
  font-weight: 700;
  z-index: 2;
}
footer #footer-wrap {
  display: flex;
  gap: 0.9em;
}

* {
  margin: 0;
  padding: 0;
}

#app {
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  background-color: #FAF9F0;
  overflow: hidden;
  font-family: "Verdana";
}
#app::before {
  position: absolute;
  content: "";
  border: 0.2em solid #1F2933;
  width: calc(100% - 1.2em);
  height: calc(100% - 1.2em);
  left: 0.45em;
  top: 0.45em;
  z-index: 1;
}
#app main {
  position: relative;
  height: 100%;
}
#app main::before, #app main::after {
  height: 0.45em;
}
#app main::before, #app main::after {
  position: absolute;
  left: 0;
  width: 100%;
  content: "";
  z-index: 2;
  background-color: rgba(250, 249, 240, 0.8);
  backdrop-filter: blur(0.1em);
}
#app main::before {
  top: 0;
}
#app main::after {
  bottom: 0;
}
#app main article {
  z-index: 1;
  position: relative;
  height: 100%;
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  padding: 0.9em 0.9em 0.9em calc(0.9em + 0.9em + 80px);
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  text-align: right;
  padding-top: var(--scroll-offset) !important;
}
#app main article::-webkit-scrollbar { /* WebKit */
  width: 0;
  height: 0;
}
#app main article > * {
  max-width: 100%;
  width: 100%;
}
#app main article > *:first-child {
  margin-block-start: var(--scroll-offset);
}
#app main article > *:last-child {
  margin-bottom: 1.8em;
}
@media (min-width: 421px) {
  #app main article {
    align-items: center;
  }
}
@media (min-width: 768px) {
  #app main article {
    align-items: flex-end;
  }
}
@media (min-width: 421px) {
  #app::before {
    width: calc(100% - 1.65em);
    height: calc(100% - 1.65em);
    left: 0.675em;
    top: 0.675em;
  }
  #app header {
    top: 1.35em;
    left: 1.35em;
  }
  #app main::before, #app main::after {
    height: 0.675em;
  }
  #app main article {
    padding: 1.35em 1.35em 1.35em calc(1.35em + 0.9em + 80px);
  }
  #app main article > *:last-child {
    margin-bottom: 2.7em;
  }
  #app footer {
    bottom: 1.75em;
    right: 1.55em;
  }
}
@media (min-width: 768px) {
  #app::before {
    width: calc(100% - 2.1em);
    height: calc(100% - 2.1em);
    left: 0.9em;
    top: 0.9em;
  }
  #app header {
    top: 1.8em;
    left: 1.8em;
  }
  #app main::before, #app main::after {
    height: 0.9em;
  }
  #app main article {
    padding: 1.8em 1.8em 1.8em calc(1.8em + 0.9em + 80px);
  }
  #app main article > *:last-child {
    margin-bottom: 3.6em;
  }
  #app footer {
    bottom: 2.2em;
    right: 2em;
  }
}

html {
  font-size: 100%;
}

body {
  font-size: 1.125rem;
  color: #1F2933;
}

p {
  font-size: 1em;
}

big {
  font-size: 2.29em;
}

small {
  font-size: 0.87em;
}

.screen-reader-text {
  border: 0 !important;
  clip: rect(0, 0, 0, 0) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  white-space: nowrap !important;
  width: 1px !important;
  color: #1F2933;
}

h1, h1 > a {
  font-size: 2em;
  color: #FF9F1C;
  transition: all 0.2s ease-in-out;
}
h1 > a:hover, h1 > a:focus, h1 > a:focus-within, h1 > a > a:hover, h1 > a > a:focus, h1 > a > a:focus-within {
  color: #E87EA1;
}

h2, h2 > a {
  font-size: 1.74em;
  color: #FF9F1C;
  transition: all 0.2s ease-in-out;
}
h2 > a:hover, h2 > a:focus, h2 > a:focus-within, h2 > a > a:hover, h2 > a > a:focus, h2 > a > a:focus-within {
  color: #E87EA1;
}

h3, h3 > a {
  font-size: 1.52em;
  color: #FF9F1C;
  transition: all 0.2s ease-in-out;
}
h3 > a:hover, h3 > a:focus, h3 > a:focus-within, h3 > a > a:hover, h3 > a > a:focus, h3 > a > a:focus-within {
  color: #E87EA1;
}

h4, h4 > a {
  font-size: 1.32em;
  color: #FF9F1C;
  transition: all 0.2s ease-in-out;
}
h4 > a:hover, h4 > a:focus, h4 > a:focus-within, h4 > a > a:hover, h4 > a > a:focus, h4 > a > a:focus-within {
  color: #E87EA1;
}

h5, h5 > a {
  font-size: 1.15em;
  color: #FF9F1C;
  transition: all 0.2s ease-in-out;
}
h5 > a:hover, h5 > a:focus, h5 > a:focus-within, h5 > a > a:hover, h5 > a > a:focus, h5 > a > a:focus-within {
  color: #E87EA1;
}

h6, h6 > a {
  font-size: 1em;
  color: #FF9F1C;
  transition: all 0.2s ease-in-out;
}
h6 > a:hover, h6 > a:focus, h6 > a:focus-within, h6 > a > a:hover, h6 > a > a:focus, h6 > a > a:focus-within {
  color: #E87EA1;
}

/*# sourceMappingURL=app.css.map */
