@import '../abstracts';

header {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 2;

	#header-wrap {

		& > *:not(:first-child) {
			margin-block-start: $gap;
		}

		#logo-wrap {
			display: block;
		}

		@import './navigation';
	}
}
