@import '../abstracts';

header {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 2;
	@include placeHeader( $gap );

	#header-wrap {

		& > *:not(:first-child) {
			margin-block-start: $gap;
		}

		#logo-wrap {
			display: block;

			#logo {
				object-fit: contain;
			}
		}

		@import './navigation';
	}
}
