@import '../abstracts';
@import 'root';
@import 'header';
@import 'footer';

* {
	margin: 0;
	padding: 0;
}

html, body, #app {
	height: 100%;
	overflow: hidden;
}

#app {
	width: 100vw;
	box-sizing: border-box;
	background-color: $tertiary;
	font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

	&::before {
		position: absolute;
		content: "";
		border-right: .2em solid $dark-blue;
		border-left: .2em solid $dark-blue;
		transition-property: width, height, left, top;
		transition-duration: .3s;
		transition-timing-function: cubic-bezier(0.1, 0.4, 0.2, 1);
		@include setFrame( $gap );
		z-index: 1;
	}

	main {
		position: relative;
		height: 100%;
		@include setBlur( $gap );

		&::before, &::after {
			transition-property: height, width, left;
			transition-duration: .3s;
			transition-timing-function: cubic-bezier(0.1, 0.4, 0.2, 1);
			position: absolute;
			content: "";
			z-index: 2;
			background-color: rgba( $tertiary, .8 );
			backdrop-filter: blur( .1em );
		}

		&::before {
			border-bottom: .2em solid $dark-blue;
		}

		&::after {
			bottom: 0;
			border-top: .2em solid $dark-blue;
		}

		@import 'article';
	}

	@import './_layout-queries';
}
