@import '../abstracts';
@import 'root';
@import 'header';
@import 'footer';

* {
	margin: 0;
	padding: 0;
}

#app {
	height: 100vh;
	width: 100vw;
	box-sizing: border-box;
	background-color: $tertiary;
	overflow: hidden;
	font-family: 'Verdana';

	&::before {
		position: absolute;
		content: "";
		border: .2em solid $dark-blue;
		@include setFrame( $gap );
		z-index: 1;
	}

	main {
		position: relative;
		height: 100%;
		@include setBlur( $gap );

		&::before, &::after {
			position: absolute;
			left: 0;
			width: 100%;
			content: "";
			z-index: 2;
			background-color: rgba( $tertiary, .8 );
			backdrop-filter: blur( .1em );
		}

		&::before {
			top: 0;
		}

		&::after {
			bottom: 0;
		}

		@import 'article';
	}

	@import './_layout-queries';
}
