@import '../abstracts/colors';

@mixin fontLevels($level) {
	@if $level == 1 {
		font-size: 2.00em;
	} @else if $level == 2 {
		font-size: 1.74em;
	} @else if $level == 3 {
		font-size: 1.52em;
	} @else if $level == 4 {
		font-size: 1.32em;
	} @else if $level == 5 {
		font-size: 1.15em;
	} @else {
		font-size: 1em;
	}
}

@for $i from 1 through 6 {
	h#{$i}, h#{$i} > a {
		@include fontLevels($i);
		color: $primary;
		transition: $transition;

		& > a {
			@include hovered {
				color: $secondary;
			}
		}
	}
}
