@import '../abstracts/queries';
@import '../abstracts/colors';

html {
	font-size: 100%;
}

body {
	font-size: 1.125rem;
	color: $contrast;
}

p {
	font-size: 1em;
}

big {
	font-size: 2em;
	color: $dark-blue;
	@include tablet {
		font-size: 2.79em;
	}
}

small {
	font-size: .9em;
}

.emphasis {

	&.box {
		outline-width: .1em;
		outline-style: solid;
		padding: .1em;

		&.primary {
			outline-color: $primary;
		}
	}

	&.highlight {
		position: relative;

		&::after {
			content: "";
			position: absolute;
			z-index: -1;
			width: 80%;
			height: 10%;
			left: 20%;
			top: 90%;

			@include tablet {
				width: 100%;
			}
		}

		&.primary {
			&::after {
				background-color: $primary;
			}
		}

		&.accent {
			&::after {
				background-color: $accent;
			}
		}

		&.secondary {
			&::after {
				background-color: $secondary;
			}
		}
	}
}

.screen-reader-text {
	border: 0 !important;
	clip: rect(0, 0, 0, 0) !important;
	height: 1px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	white-space: nowrap !important;
	width: 1px !important;
	color: $contrast;
}
