$primary: #FF9F1C;
$dark-primary: #B86B00;
$secondary: #E87EA1;
$dark-secondary: #00A3A3;
$accent: #43FFFF;
$dark-blue: #1F2933;
$tertiary: #FAF9F0;
$beige: #F0EDD1;
$contrast: #02111B;
$white: #FFFFFF;
$transparent: rgba(0, 0, 0, 0);
