@import 'colors';

:export {
	primary: $primary;
	secondary: $secondary;
	accent: $accent;
	tertiary: $tertiary;
	contrast: $contrast;
	white: $white;
	transparent: $transparent;
	beige: $beige;
	darkBlue: $dark-blue;
	darkPrimary: $dark-primary;
	darkSecondary: $dark-secondary;
}
